<h1>Sign Up</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any?%>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <%end%>
<div class="container">
<div class="form-group">
  <%= f.label :username %><br/>
  <%= f.text_field :username, class: "form-control" %>
</div>
 

 
<div class="form-group">
  <%= f.label :password %><br/>
  <%= f.password_field :password, class: "form-control" %>
</div>
 
<div class="form-group">
  <%= f.submit %>
</div>
</div>
 
<% end %>