<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="/pages"><b>FilmKart</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/carts/<%=@id%>">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buys/<%= @id %>">Your Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">sign Out</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<center>
  <h1>Cart</h1>
</center>
<%  @cartb.each do |c| %>
<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card shadow mt-2 mb-2 bg-white rounded">
          
          <div class="card-body">
            <div class="row">
              
              <div class="col-md-2 col-sm-2"><%=c.title%></div>
              <div class="col-md-2 col-sm-2">
                <a  >
                  <b> $<%=c.cost %> </b>
                  </a>
              </div>
              <div class="col-md-2">
                <a  class="btn btn-primary" href="/view/<%=c.film_id%>/<%=c.user_id%>">View</a>
              </div>
              <div class="col-md-2">
                <a  class="btn btn-primary" href="/delcart/<%=c.id%>/<%=c.user_id%>">Remove</a>
              </div>
              <div class="col-md-2">
                <a  class="btn btn-danger" href="/buy/<%=c.film_id%>/<%=c.user_id%>/<%=c.title%>/<%= c.cost %>/<%=c.id%>"> Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>